{% extends 'base.html' %}

{% block title %}
    Team Members
{% endblock  %}

{% block content %}
{% include'./includes/nav.html'%}
  {% if all_members%}
        {% for member in all_members%}
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <div class="card-body"></div>
            <img src=" {{ pokemon.sprites_image }}" class="card-img-top" alt="{{ pokemon.name }}">
            
              <h5 class="card-title">{{ pokemon.name }}</h5>
              
              {% if current_user.id == pokemon.user_id%}
                {% if user in current_user.catch%}
                <a href="{{url_for(pokemon.release,user_id=pokemon.id)}}" class="btn btn-primary">Release </a>
              
                {%else%}
                <a href="{{url_for(pokemon.catch, user_id=pokemon.id)}}" class="btn btn-primary">Catch</a>
                {% enfif %}
                {% endif %}
            </div>
          </div>
        {% endfor %}

  {% endif %}


{% endblock  %}

