*{
 font-family: 'Roboto', sans-serif;
    
font-family: 'Inria Sans', sans-serif;
}

body{
    height: 100vh;
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

img{
    border-radius: 30%;
    width: 180px;
    height: 120px;
    margin-top: 20px;
}

.cus-input:focus{
    border: 1px solid rgb(104, 69, 91);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cus-input{
    border: 1px solid rgb(104, 69, 91);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.login-btn{
    display:block;
    margin: 0 auto;
    background-color: white;
    color: rgb(111, 73, 89);
    border: .5px solid rgb(135, 79, 113);
    font-weight: 500;
    border-radius: 30px;
}

.login-btn:hover{
    color: rgb(227, 158, 181);
    background-color: rgb(147, 192, 234);
    border:1px solid white;
    transform: scale(1.15);
}

h1{
   margin-top: 10px; 
}

.welcome{
    color: pink;
   
  margin-left: 25%;
  text-shadow: 2px 2px 4px #412d3c;
  font-weight: 700%;
  animation: slideIn 3.5s ease-out;

    
}

@keyframes moveText {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .welcome{
    animation: moveText 5s ease-in-out infinite;
  }

  .navbar-btn {
    background-color:  #c1e7fb;
    border: none;    
}

.btn{
    color: white;
    background-color: pink;
    border: none;
    
    
}
.btn:hover{
    color: rgb(227, 158, 181);
    background-color: rgb(147, 192, 234);
    border:1px solid white;
    transform: scale(1.15);}
    
.narbar{
    background-color:  #bfe9ff,
   
}


.h1poke{
    font-family: 'Roboto', sans-serif;

    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight:initial;
}

.nav-item{
    margin-left: 20%;
}


.card{
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bfe9ff, #ff6e7f);

}


.navbar-nav .nav-item {
    margin-left: 20px; 
}

.navbar-nav .nav-item a {
    color: black;
    text-decoration: none;
    transition: color 0.3s; 
}

.navbar-nav .nav-item a:hover {
    color: #ff6e7f;; 
    
}



img.pokemon-logo {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    z-index: 999;
    animation: bounce 2s infinite;
}



@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-20px); 
    }
    60% {
        transform: translateY(-10px); 
    }
}
img.pokemon-middle {
    position: fixed;
    left: 20%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    border-radius: 10px;
    z-index: 999;
}

img.pokemon-bottom {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
    border-radius: 10px;
    z-index: 998;
    margin-bottom: 20px; 
}


.image-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    z-index: 999;
}

.image-container img {
    width: 30%; 
    height: auto;
    border-radius: 10px;
  
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1); 
}
.form-container {
    padding: 20px;
  }

  h5 {
    font-size: 24px;
    color: #333;
    margin-bottom: 40px;
    margin-top: 60px; /* Adjust the top margin to lower the information */
    cursor: pointer;
    animation: moveText 2s ease-in-out infinite alternate;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline; /* Underline the text */
}

@keyframes moveText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px); /* Move the text upwards */
    }
}

