{% extends 'base.html'%}

{% block styles %}

{% endblock %}

{% block title %}
Pokemon Search
{% endblock %}

{% block content %}

{% include'./includes/nav.html'%}

<form method="POST" class=" shadow-lg p-3 bg-body-tertiary rounded ">
  {{ form.hidden_tag() }}
  <div class="mb-3">

    {{ form.name.label}}
    {{ form.name(class="form-control mt-3")}}

    {{ form.submitButton (class="input-btn btn-primary mt-3 ")}}
</form>

{%if pokemon_info %}

<h1 class="text-center" > {{ pokemon_info['name'] }} will Battle for You! </h1>
<h4 class="text-center"> Remember to use {{ pokemon_info['ability_name'] }} to demolish any opponent! </h4>



<table class="table">
  <thead>
    <tr>
      <th scope="col">Pokemon Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Base Experience</th>
      <th scope="col">Attack Base Stat</th>
      <th scope="col">Defense Base Stat</th>
      <th scope="col">HP Base Stat</th>
      <th scope="col">Front Shiny Sprite</th>


    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">{{ pokemon_info['name']}}</th>
      <td>{{ pokemon_info['ability_name'] }}</td>
      <td>{{ pokemon_info['ability_name'] }}</td>
      <td>{{pokemon_info['base_experience'] }}</td>
      <td>{{ pokemon_info['attack_base_stat'] }}</td>
      <td>{{ pokemon_info['defense_base_stat'] }}</td>
      <td>{{pokemon_info['hp_base_stat'] }}</td>
      <td><img src="{{pokemon_info['sprites_image'] }}" alt="shiny_sprite"></td>
    </tr>

  </tbody>
</table>
{% endif%}
{% endblock %}